<!DOCTYPE html>
<form action="{%url 'username' %}">
   <select name="length" >
       
      <option value="8" selected="selected">8</option> 
      <option value="9">9</option> 
      <option value="10">10</option> 
      <option value="11">11</option> 
      <option value="12">12</option> 
      <option value="13">13</option>
      <option value="14">14</option>  
   </select>
   
   <br>
   <input type="checkbox" name="number" > Numbers
   <br>
   <input type="submit"  value = "Generate username">
</form>
<a href="{% url 'about' %}"> About</a>
